
{% extends 'base.html'%}
{% load staticfiles %}
{% block content%}
{% load bootstrap %}

<div class = "row">
	<button type="button" class="btn btn-default btn-md pull-right" data-toggle="modal" data-target="#surveyNameModal">Create survey</button>
	{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
		{% endif %}
	<!-- <a href="{% url 'create_survey' %}"><button type="button" class="btn btn-default btn-md pull-right" data-toggle="modal" data-target="#surveyNameModal">Create survey</button></a> -->

  <!-- Modal -->
  <div class="modal fade" id="surveyNameModal" role="dialog">
	<div class="modal-dialog">
	
	  <!-- Modal content-->
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		  <h4 class="modal-title">Name your survey.</h4>
		</div>
		<div class="modal-body">

			<form id="surveyNameForm" class="form-horizontal" action="create_survey/" method="post">
				{% csrf_token %}
					{% if form.errors %}
					{% for field in form %}
						{% for error in field.errors %}
							<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
							</div>
						{% endfor %}
					{% endfor %}
					{% for error in form.non_field_errors %}
						<div class="alert alert-danger">
							<strong>{{ error|escape }}</strong>
						</div>
					{% endfor %}
				{% endif %}
				<label for = "nameOfSurvey">Survey Name:</label>
				<input class="form-control" placeholder="Type the name of your survey" type="text" id = "surveyName" name = "surveyName" required></br>{{ form.errors.surveyName }}
				<input id ="surveyNameButton" type="submit" value="Create survey" class = "btn btn-default">
				<button class="btn btn-default pull-right" data-dismiss="modal">Close</button>
			</form>
		</div>
	  </div>
	  
	</div>
  </div>
</div>
<div class = "questioncontainer">
	<section> 
		<div id="question" style= "text-align: center"></div>

		<div id="answer" style= "text-align: center"></div>

		<div id="ratinganswer" style= "text-align: center"></div>

		<div id="bipolaranswer" style= " display:inline-block;"></div>



	</section>
	</div>
	<aside>
		<h3 class = "header">Your Survey</h3>
		<ol >
			<!-- This section will display a list of surveys conducted by a given user. On clicking a particular survey the questions asked from the survey will be dispalyed in the questionscontainer -->
		</ol>
	</aside>


		
			

</div>

{% endblock  %}