
{% extends 'base.html'%}
{% load staticfiles %}
{% block content%}
{% load bootstrap %}

<div class = "row">
	
</div>
<div class = "questioncontainer">
	<section> 
		<nav class = "navbar" style = "text-align: center; margin-top: 20px;"><h4>{{ surveys}}</h4></nav>
		{% if not questions %}
			<p style="text-align: center;">You do not have any questions under this survey</p>
		{% endif %}
		{% if questions %}
			{% for question in questions %}
				<li class="list-group-item"><div><p>{{ question|slugify}}</p></div></button></li><br>
			{% endfor %}
		{% endif %}

		<div id="question" style= "text-align: center"><form id='questionform' action='display_survey/' method='post'>{% csrf_token %}</form></div>

		<div id="answer" style= "text-align: center"></div>

		<div id="ratinganswer" style= "text-align: center"></div>

		<div id="bipolaranswer" style= " display:inline-block;"></div>

	</section>
	</div>
	<aside>	
		<h3 class = "header">Question type</h3>
		<ul style="list-style-type:none">
			<li><button id = 'null' class="btn-default Open_ended questionType" title="You must submit or delete the question before proceeding after clicking this button."><div><p>Open ended</p></div></button></li><br>

			<li><button id = 'null' class="btn-default Dichotomous_Question questionType" title="You must submit or delete the question before proceeding after clicking this button."><div><p>Dichotomous Question</p></div></button></li><br>

			<li><button id = 'null' class="btn-default Multiple_choice_question questionType" title="You must submit or delete the question before proceeding after clicking this button."><div><p>Multiple choice question</p></div></button></li><br>

			<li><button id = 'null' class="btn-default Rating_scale_question questionType" title="You must submit or delete the question before proceeding after clicking this button."><div><p>Rating scale question</p></div></button></li><br>

			<li><button id = 'null' class="btn-default Bipolar_question questionType" title="You must submit or delete the question before proceeding after clicking this button."><div><p>Bipolar question</p></div></button></li><br>

			<li><button id = 'null' class="btn-default Likert_question questionType" title="You must submit or delete the question before proceeding after clicking this button."><div><p>Likert question</p></div></button></li><br>

		</ul>
	</aside>


		
			

</div>

{% endblock  %}