<!DOCTYPE html>
<html>
	<head>
		<meta charset ="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale = 1">
		<title>Survey for researchers</title>
		<link rel="stylesheet" style="text/css" href="static/bootstrap.min.css">
		<link rel="stylesheet" style="text/css" href="static/style.css">
	</head>
	<body>
		<div class="container-fluid">
			<h1>Survey for Researchers</h1>
			<nav class = "navbar navbar-fixed-relative">
				<div class = "nav navbar-nav">
					<ul class = "nav navbar-nav navbar-left">
						<li ><a href="#">Home</a></li>
						<li ><a href="#">Contact Us</a></li>
						<li ><a href="#">About</a></li>
						<li ><a href="#">How it Works</a></li>
						<li ><a href="{% url 'account_logout' %}">Log out</a></li>
						<li ><a href="{% url 'view_dashboard' %}">View your dashboard</a></li>
						<li ><a href="{% url 'account_signup' %}">Sign up</a></li>
						<li ><a href="{% url 'account_login' %}">Log in</a></li>
					</ul>
					
				</div>
			</nav>
			
				<div class = "row header">
					<p>Hi Welcome to Your Survey<input type="submit" value="submit survey" class = "btn btn-primary pull-right" action = "create_survey"></p>
				</div>
				<div class = "questioncontainer">
					<section> 
						<div id="question" style= "text-align: center"></div>

						<div id="answer" style= "text-align: center"></div>
			    		
					</section>
				</div>
				<aside>
			    	<h3 class = "header">Question type</h3>
			    	<ul style="list-style-type:none">
			    		<li><button class="btn-default Open_ended"><div><p>Open ended</p></div></button></li><br>
			    		<li><button class="btn-default Dichotomous_Question"><div><p>Dichotomous Question</p></div></button></li><br>
			    		<li><button class="btn-default Multiple_choice_question"><div><p>Multiple choice question</p></div></button></li><br>
			    		<li><button class="btn-default Rating_scale_question"><div><p>Rating scale question</p></div></button></li><br>
			    		<li><button class="btn-default Bipolar_question"><div><p>Bipolar question</p></div></button></li><br>
			    		<li><button class="btn-default Likert_question"><div><p>Likert question</p></div></button></li><br>
					</ul>
				</aside>
	
	
		
			<!-- </div> -->

		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="static/js/jquery-3.2.1.min.js"></script>
		<script>
			$(document).ready(function() {
				$(".Open_ended").click(function() {
					$("#questionform").remove();
					$('#question').addClass("form-group");
					$form = $("<form id='questionform'></form>");
					$form.append('<input type="text" class="form-control col-md-6 col-md-offset-1" value="Type the question here" style="width:80%"><br>');
					$('#question').append($form);


					$('#answer').addClass("form-group");
					$("#answerform").remove();
					$form = $("<form id='answerform'></form>");
					$form.append('<input type="text" class="form-control col-md-6 col-md-offset-1" value="Type the answer here" style="width:80%">');
					$form.append('<input type="button" class="btn-default btn-default1" value="submit question">');
					$('#answer').append($form);
				});
				$(".Dichotomous_Question").click(function() {
					$("#questionform").remove();
					$('#question').addClass("form-group");
					$form = $("<form id='questionform'></form>");
					$form.append('<input type="text" class="form-control col-md-6 col-md-offset-1" value="Type the question here" style="width:80%">');
					$form.append('<input id="addchoice" type="button" class="btn-default btn-default1 choices" value="Add choices"> </br>');
					$('#question').append($form);


					$('#answer').addClass("form-group");
					$("#answerform").remove();
					$form = $("<form id='answerform'></form>");
					$("body").on('click', '#addchoice', function() {
					$("#addchoice").remove();
					$("#submitquestion").remove();
					$form.append('<input type="text" class="form-control col-md-6 col-md-offset-2" value="Type the choice here" style="width:50%">');
					$form.append('<input type="radio" value="Enter choices"></br>');
					$form.append('<input id="addchoice" type="button" class="btn-default btn-default1 choices" value="Add choices"></br>');
					$form.append('<input id="submitquestion" type="button" class="btn-default btn-default1" value="submit question"></br>');
					});
					
					$('#answer').append($form);

				});
			});
		</script>
		<script src="static/js/jquery-3.2.1.min.js"></script>
		<script src="static/bootstrap.min.js"></script>
	</body>
</html>

