<!DOCTYPE html>
<html>
	<head>
		<meta charset ="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale = 1">
		<title>Survey for researchers</title>
		<link rel="stylesheet" style="text/css" href="static/bootstrap.min.css">
		<link rel="stylesheet" style="text/css" href="static/style.css">
	</head>
	<body>
		<div class="container-fluid">
			<h1>Survey for Researchers</h1>
			<nav class = "navbar navbar-fixed-relative">
				<div class = "nav navbar-nav">
					<ul class = "nav navbar-nav navbar-left">
						<li ><a href="#">Home</a></li>
						<li ><a href="#">Contact Us</a></li>
						<li ><a href="#">About</a></li>
						<li ><a href="#">How it Works</a></li>
						<li ><a href="{% url 'account_logout' %}">Log out</a></li>
						<li ><a href="{% url 'view_dashboard' %}">View your dashboard</a></li>
						<li ><a href="{% url 'account_signup' %}">Sign up</a></li>
						<li ><a href="{% url 'account_login' %}">Log in</a></li>
					</ul>
					
				</div>
			</nav>
			
				<div class = "row header">
					<p>Hi Welcome to Your Survey<input type="submit" value="submit survey" class = "btn btn-primary pull-right" action = "create_survey"></p>
				</div>
				<div class = "questioncontainer">
					<section> 
						<div id="question" style= "text-align: center"></div>

						<div id="answer" style= "text-align: center"></div>

						<div id="ratinganswer" style= "text-align: center"></div>

						<div id="bipolaranswer" style= " display:inline-block;"></div>

						
			    		
					</section>
				</div>
				<aside>
			    	<h3 class = "header">Question type</h3>
			    	<ul style="list-style-type:none">
			    		<li><button id = 'null' class="btn-default Open_ended question"><div><p>Open ended</p></div></button></li><br>
			    		<li><button id = 'null' class="btn-default Dichotomous_Question question"><div><p>Dichotomous Question</p></div></button></li><br>
			    		<li><button id = 'null' class="btn-default Multiple_choice_question question"><div><p>Multiple choice question</p></div></button></li><br>
			    		<li><button id = 'null' class="btn-default Rating_scale_question question"><div><p>Rating scale question</p></div></button></li><br>
			    		<li><button id = 'null' class="btn-default Bipolar_question question"><div><p>Bipolar question</p></div></button></li><br>
			    		<li><button id = 'null' class="btn-default Likert_question question"><div><p>Likert question</p></div></button></li><br>
					</ul>
				</aside>
	
	
		
			<!-- </div> -->

		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="static/js/jquery-3.2.1.min.js"></script>
		<script src="questions.js"></script>
		<script src="static/bootstrap.min.js"></script>
	</body>
</html>

