body {
    color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: silver;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #FA6501;
}


.CreateSurvey{
    text-align: center;

}

.row {
    margin-right: 15px;
    margin-left: 0px;
}

.footer {
    color: black;
    text-align: left;
    background-color: #FA6501;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1150px;
    border-radius: 2px;
}

p {
    font-family: verdana;
    font-size: auto;
    color: black;
    padding-left: 15px;
}

.col-md-3 {
    background-color: white;
    background-color: rgb(240, 252, 227);
}
.col-md-9 {
    background-color: white;
    background-color: rgb(240, 252, 227);
}