{% extends 'base.html'%}
{% load staticfiles %}
{% block content%}
{% load bootstrap %}
<script>
	{% if messages %}
		{% for message in messages %}
			alert(message);
		{% endfor %}
	{% endif %}
 </script>

<div class = "signup-box">
	<h2>Sign up</h2>
	<form class="form-horizontal" action="register_page" method="post">
		{% csrf_token %}
		<!-- {{ form|bootstrap }} -->
		
		{{ form.username.label }}
		{{ form.username }}
		{{ form.first_name.label }}
		{{ form.first_name }}
		{{ form.last_name.label }}
		{{ form.last_name }}
		{{ form.email.label }}
		{{ form.email }}
		{{ form.password1.label }}
		{{ form.password1 }}
		{{ form.password2.label }}
		{{ form.password2 }}<br>	
		<input type="submit" value="Submit" />
	</form>
</div>

{% endblock  %}