<nav class = "navbar navbar-default">
				<div class = "navbar-header"> 
					<button type = "button" class = "navbar-toggle" data-target =".navbar-collapse" data-toggle = "collapse">
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
					</button>
				</div>
				<div class = "nav navbar-nav">
					<ul class = "nav navbar-nav navbar-left">
						<li class = "active"><a href="#">Home</a></li>
						<li ><a href="#">Contatc Us</a></li>
						<li ><a href="#">About</a></li>
						<li ><a href="#">How it Works</a></li>
					</ul>
					<form class ="navbar-form navbar-left" role = "search"></form>
						<div class = "form-group">
							<input type = "text" class = "form-control" placeholder="Search">
						</div>
						<button type = "submit" class = "btn btn-default">Submit </button>
					</form>
					<ul class = "nav navbar-nav navbar-right">
						<li ><a href="#">sign up</a></li>
						<li ><a href="#">log in</a></li>
					</ul>
				</div>
			</nav>